<div ng-show="test.loading">Loading...</div>
<div>
  <svg id="bla"></svg>
</div>
<input type="text" ng-model="test.set"/><br/>
<input type="text" ng-model="test.interpolation"/><br/>
<input type="range" ng-model="test.n" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }" min="50" max="500"/><span ng-bind="test.n"></span><br/>
<input type="range" ng-model="test.skip" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }" min="0" max="1000"/><span ng-bind="test.skip"></span>
<div ng-repeat="point in test.data" ng-bind-template="{{ point | json }}">
</div>
